In [17]:
import portfolio
import pandas as pd
import sqlite3
import datetime

dtStr = '2019-01-01'

dt = datetime.datetime.strptime(dtStr, '%Y-%m-%d').date()
dtPre = dt - datetime.timedelta(days=1)
dtPreStr = datetime.datetime.strftime(dtPre, '%Y-%m-%d')

db = sqlite3.connect('AMS.db')
query = "select * from HOlding_Table where Date = '{}'".format(dtPreStr)
dfHoldPre = pd.read_sql(query, con=db)
dfMVPre = dfHoldPre[['AccountID','SymbolCode','SymbolName','CurTrade','Qty','Cost']]
dfMVPre.rename(columns={'Qty':'QtyPre', 'Cost':'CostPre'}, inplace = True)
dfMVPre.insert(0,'Date',dt)
dfMVPre

          Date AccountID SymbolCode SymbolName CurTrade    QtyPre  CostPre
0   2019-01-01     CITIC  510500.SS     500ETF      CNY   5000.00    4.870
1   2019-01-01     CITIC  600177.SS        雅戈尔      CNY   2000.00    8.593
2   2019-01-01     CITIC  601088.SS       中国神华      CNY   2600.00   11.275
3   2019-01-01     CITIC  000726.SZ        鲁泰A      CNY   4000.00   11.174
4   2019-01-01     CITIC        CNY        人民币      CNY  61575.92    1.000
5   2019-01-01       CMS  512880.SS      证券ETF      CNY  40000.00    0.741
6   2019-01-01       CMS  600030.SS       中信证券      CNY   1000.00   19.136
7   2019-01-01       CMS  601166.SS       兴业银行      CNY   2800.00   15.892
8   2019-01-01       CMS        CNY        人民币      CNY  45255.81    1.000
9   2019-01-01       CMS  200625.SZ        长安B      HKD   5500.00    7.979
10  2019-01-01       CMS        HKD         港币      HKD   3366.08    1.000