In [48]:
import sqlite3
import pandas as pd

db = sqlite3.connect('AMS.db')
query = 'select * from Order_Table'
df = pd.read_sql(query, con = db)
df['Date']=pd.to_datetime(df['Date'])
df['Year'] = df['Date'].dt.year
df['Month'] = df['Date'].dt.month
df['Day'] = df['Date'].dt.day
df = df[(df['TradeID']==1) & (df['Day']==2)]
#df.groupby(['Date','OrderID'])[['SettleAmt']].sum()
df

,ID,Date,Time,SymbolCode,SymbolName,OrderID,TradeID,BuySell,OpenClose,CurTrade,CurSettle,Price,Qty,Commission,TradeAmt,SettleAmt,Year,Month,Day
0,3,2019-12-02,09:45:10,MHIF1912,MHI 30Dec19,1,1,Buy,Open,HKD,HKD,26472,1,12.1,264720,-264732.1,2019,12,2
2,6,2019-12-02,09:47:06,MHIF1912,MHI 30Dec19,1,1,Sell,Close,HKD,HKD,26493,1,12.1,264930,264917.9,2019,12,2
4,8,2019-12-02,10:16:55,MHIF1912,MHI 30Dec19,2,1,Buy,Open,HKD,HKD,26495,1,12.1,264950,-264962.1,2019,12,2
6,10,2019-12-02,10:25:33,MHIF1912,MHI 30Dec19,2,1,Sell,Close,HKD,HKD,26501,1,12.1,265010,264997.9,2019,12,2

In [37]:
df.groupby(['Date'])[['SettleAmt']].sum()

            SettleAmt
Date
2019-12-02      593.2
2019-12-03     1691.6
2019-12-05      795.2

In [38]:
df.groupby(['Year','Month'])[['SettleAmt']].sum()

            SettleAmt
Year Month
2019 12        3080.0