In [1]:
import cal_service as cal

cal.cal_holding(startDate='2020-01-01',endDate='2020-02-29')
#cal.save_exchange_rate()

################# cal holding @2020-01-01
################# cal holding @2020-01-02
################# cal holding @2020-01-03
################# cal holding @2020-01-06
################# cal holding @2020-01-07
################# cal holding @2020-01-08
################# cal holding @2020-01-09
################# cal holding @2020-01-10
################# cal holding @2020-01-13
################# cal holding @2020-01-14
################# cal holding @2020-01-15
################# cal holding @2020-01-16
################# cal holding @2020-01-17
################# cal holding @2020-01-20
################# cal holding @2020-01-21
################# cal holding @2020-01-22
################# cal holding @2020-01-23
################# cal holding @2020-01-24
################# cal holding @2020-01-27
################# cal holding @2020-01-28
################# cal holding @2020-01-29
################# cal holding @2020-01-30
################# cal holding @2020-01-31
################# cal holding @2020-02-03
################# cal holding @2020-02-04
################# cal holding @2020-02-05
################# cal holding @2020-02-06
################# cal holding @2020-02-07
################# cal holding @2020-02-10
################# cal holding @2020-02-11
################# cal holding @2020-02-12
################# cal holding @2020-02-13
################# cal holding @2020-02-14
################# cal holding @2020-02-17
################# cal holding @2020-02-18
################# cal holding @2020-02-19
################# cal holding @2020-02-20
################# cal holding @2020-02-21
################# cal holding @2020-02-24
################# cal holding @2020-02-25
################# cal holding @2020-02-26
################# cal holding @2020-02-27
################# cal holding @2020-02-28

In [2]:
import db_service as db
import pandas as pd
import sqlite3

query = """SELECT * FROM Holding_Table WHERE SymbolCode ='{}' """.format('9922.HK')

conn = sqlite3.connect('AMS.db')
hold = pd.read_sql(query, con = conn)
hold

,ID,Date,AccountID,SymbolCode,SymbolName,Cur,QtyBuy,CostBuy,QtySell,PriceSell,...,MoneyOut,Close,ExRate,Qty,Cost,MV,HoldingFloat,DailyRealized,DailyFloat,DailyInterest
0,265859,2020-01-14,FUTU,9922.HK,九毛九,HKD,1000,7.15225,0,0.00000,...,0,7.15225,1,1000,7.152,7152.25,0,0.00,0.00,0
1,265884,2020-01-15,FUTU,9922.HK,九毛九,HKD,0,0.00000,0,0.00000,...,0,10.32000,1,1000,7.152,10320.00,3168,0.00,3167.75,0
2,265909,2020-01-16,FUTU,9922.HK,九毛九,HKD,0,0.00000,1000,10.62748,...,0,10.52000,1,0,7.152,0.00,0,307.48,0.00,0

In [19]:
holdCur = hold[hold['SymbolCode'].isin(['CNY','HKD','USD'])]
holdCur = holdCur.loc[:,('AccountID','SymbolCode','Qty')]
holdCur

   AccountID SymbolCode       Qty
7      CITIC        CNY  49558.48
12       CMS        CNY     36.86
13       CMS        HKD    321.23
16    HUATAI        CNY   4623.98
20      FUTU        HKD  98428.65

In [20]:
holdA = hold[hold['SymbolCode'].isin(['XXX'])]
holdA = holdA.loc[:,('AccountID','SymbolCode','Close')]
holdA['Close'] = holdA.apply(lambda x: abs(x['Close']), axis=1 )
holdA

Empty DataFrame
Columns: [AccountID, SymbolCode, Close]
Index: []

In [21]:
money = pd.merge(holdCur,holdA,on=['AccountID','SymbolCode'],how='outer')
money

  AccountID SymbolCode       Qty Close
0     CITIC        CNY  49558.48   NaN
1       CMS        CNY     36.86   NaN
2       CMS        HKD    321.23   NaN
3    HUATAI        CNY   4623.98   NaN
4      FUTU        HKD  98428.65   NaN

In [15]:
holdA.empty

True